/* Universal styles */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-div {
  width: 375vw;
  height: 100vh;
}

/* Styling the Navigation bar */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container li {
  list-style: none;
  margin: 8px 8px 8px 8px;
  justify-content: left;
}

nav .logo {
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-top: 4px;
  margin-left: 12px;
  letter-spacing: normal;
  text-align: center;
  padding: 10px 12px;
}

.menu-bars {
  color: #7f8cff;
  margin-right: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
}

nav .menu-bar {
  width: 20px;
  background: #7f8cff;
  border: 2px solid #7f8cff;
}

/* Styling the background image */
main {
  background-image: url("images/header-shapes_mobile\ \(1\).jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Styling the main page, home page */
.content-container {
  margin-top: 114px;
  margin-right: 24px;
  margin-left: 24px;
  font-family: "Poppins", sans-serif;
  letter-spacing: normal;
  text-align: left;
}

.heading-text {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  vertical-align: middle;
  color: #172b4d;
  margin-bottom: 12px;
}

.text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.decription-text {
  font-weight: 400;
  color: #344563;
}

.message-text {
  font-weight: 500;
  color: #7f8cff;
}

/* styling the icons */
.img-twitter {
  height: 19.962478637695312px;
  width: 19.985925674438477px;
}

.img-i {
  height: 13.72413444519043px;
  width: 4.974092960357666px;
  margin-left: 16px;
}

.img-N {
  height: 16.965517044067383px;
  width: 12.711573600769043px;
  margin-left: 0;
}

.img-m {
  height: 16px;
  width: 20px;
  margin-left: 16px;
}

.img-cat {
  height: 20px;
  width: 17.985200881958008px;
  margin-left: 16px;
}

.img-thumbs {
  height: 20px;
  width: 14.166671752929688px;
  margin-left: 16px;
}
